@model IEnumerable<Vidly_MVC.Models.Movie>
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    This is a comment
    On multiple lines
*@
<style>
    table, th, td {
        border: solid 1px black;
    }
</style>

<h1>Movies</h1>

@Html.ActionLink("Add Movie", "MovieForm", null, new { @class = "btn btn-primary"})

<table class="table table-striped table-hover">
    <tr>
        <th>Movies</th>
        <th>Genre</th>
    </tr>

    @foreach (var movie in Model)
    {
        <tr>
            <td>@Html.ActionLink(movie.Name, "Edit", new { id = movie.Id })</td>
            <td>@movie.GenreType.Name</td>
        </tr>
    }

</table>
<ul></ul>


